.page-title{
  width: 90%;
  margin: 0px auto 15px auto;
  text-align: center;
  font-size: 200px;
  letter-spacing: 2.2rem;
}
@media (max-width:1340px) {
  .page-title{
    font-size: 120px;
    letter-spacing: 1.8rem;
  }
}
@media (max-width:900px) {
  .page-title{
    font-size: 70px;
    letter-spacing: 1.4rem;
  }
}
@media (max-width:600px) {
  .page-title{
    font-size: 50px;
    letter-spacing: .3rem;
  }
}